n8n-workflows/ai-responder.json
{
  "name": "AI Responder (WAHA → AI Agent → Reply)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-waha",
      "name": "Webhook — WAHA Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body?.payload?.fromMe }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "skip-own",
      "name": "IF — Skip Own Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.payload.body }}",
        "options": {
          "systemMessage": "Kamu adalah admin toko bernama Kiki. Kamu perempuan, ramah, dan santai tapi tetap sopan.\n\nGaya komunikasi:\n- Bahasa Indonesia santai, boleh pakai \"kak\", \"nih\", \"yuk\", \"deh\"\n- Singkat, jelas, tidak bertele-tele\n- Emoji secukupnya 😊\n\nATURAN PENTING — WAJIB DIIKUTI:\n- Kamu HANYA boleh menjawab berdasarkan informasi yang ada di knowledge base (hasil pencarian tool)\n- Jika informasi tidak ada di knowledge base, jawab: \"Maaf kak, untuk pertanyaan itu aku belum punya informasinya. Bisa hubungi admin kami langsung ya 🙏\"\n- DILARANG mengarang, menebak, atau menjawab dari pengetahuan umum\n- DILARANG membahas topik di luar produk, layanan, harga, pesanan, dan kebijakan toko\n- Jika pelanggan tanya di luar konteks toko (misal: berita, cuaca, dll), tolak dengan sopan dan arahkan kembali ke topik toko"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 1024
        }
      },
      "id": "llm-openai",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 480],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook — WAHA Incoming').item.json.body.payload.from }}",
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [700, 480]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001",
        "options": {}
      },
      "id": "embeddings-kb",
      "name": "Gemini Embeddings (KB)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [840, 620],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Cari informasi dari knowledge base bisnis (produk, layanan, harga, FAQ, kebijakan) untuk menjawab pertanyaan pelanggan.",
        "qdrantCollection": {
          "__rl": true,
          "value": "business-docs",
          "mode": "id"
        },
        "options": {
          "topK": 5
        }
      },
      "id": "qdrant-retrieve",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [980, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WAHA_BASE_URL }}/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $env.WAHA_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "session", "value": "default" },
            { "name": "chatId", "value": "={{ $('Webhook — WAHA Incoming').item.json.body.payload.from }}" },
            { "name": "text", "value": "={{ $json.output }}" }
          ]
        },
        "options": {}
      },
      "id": "send-reply",
      "name": "WAHA — Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook — WAHA Incoming": {
      "main": [[{ "node": "IF — Skip Own Messages", "type": "main", "index": 0 }]]
    },
    "IF — Skip Own Messages": {
      "main": [
        [],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [[{ "node": "WAHA — Send Reply", "type": "main", "index": 0 }]]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Gemini Embeddings (KB)": {
      "ai_embedding": [
        [{ "node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0 }]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Receives WAHA webhook events, filters own messages, runs AI Agent with RAG, and sends reply back via WAHA sendText. Set WAHA_BASE_URL and WAHA_API_KEY as n8n environment variables."
  }
}
