n8n-workflows/doc-indexer.json
{
  "name": "Document Indexer (Markdown → Qdrant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "index-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-index-docs",
      "name": "Webhook — Receive Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "business-docs",
          "mode": "id"
        },
        "options": {
          "clearCollectionIfExists": false
        }
      },
      "id": "qdrant-insert",
      "name": "Qdrant — Insert Documents",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonData": "={{ $json.body.text }}",
        "metadata": {
          "metadataValues": [
            { "name": "source", "value": "={{ $json.body.filename ?? 'unknown' }}" }
          ]
        },
        "options": {}
      },
      "id": "doc-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [420, 420]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50
      },
      "id": "text-splitter",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [560, 540]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001",
        "options": {}
      },
      "id": "embeddings-openai",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [800, 420],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Documents indexed successfully' } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook — Receive Document": {
      "main": [[{ "node": "Qdrant — Insert Documents", "type": "main", "index": 0 }]]
    },
    "Qdrant — Insert Documents": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Qdrant — Insert Documents", "type": "ai_document", "index": 0 }]]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    },
    "Gemini Embeddings": {
      "ai_embedding": [[{ "node": "Qdrant — Insert Documents", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "POST a PDF/Word binary to /webhook/index-docs to chunk and store in Qdrant for RAG."
  }
}
